// Body
// --------------------------------------------------
body {
	font-family: $base-font;
	color: $text-color;
}

// Headings
// --------------------------------------------------
h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
}

// Links
// --------------------------------------------------
a { 
	text-decoration: none;
	color: $link-color; 
	&:visited { 
		color: lighten($link-color, 20); 
	}
	&:hover { 
		color: darken($link-color, 20); 
	}
	&:focus { 
		outline: thin dotted; 
		color: darken($link-color, 20);
	}
	&:hover, 
	&:active { 
		outline: 0; 
	}
}

.link-arrow {
	font-weight: 100;
	text-decoration: underline;
	font-style: normal;
}

// Figures
// --------------------------------------------------
figcaption {
	padding-top: 10px;
	@include font(14);
	line-height: 1.3;
	color: lighten($text-color, 10);
}

// Feature Image Caption
// --------------------------------------------------
.image-credit {
	margin: 0 auto;
	max-width: 440px;
	padding-top: 5px;
	padding-right: 20px;
	padding-left: 20px;
	text-align: right;
	@include font(14);
	line-height: 1.3;
	color: lighten($text-color, 30);
	@include clearfix();
	@media #{$medium} {
		max-width: 760px;
		padding-right: 60px;
		padding-left: 60px;
	}
	@media #{$large} {
		max-width: 960px;
	}
	a {
		color: lighten($text-color, 30);
	}
}

// Note text
// --------------------------------------------------
.notice {
	margin-top: 1.5em;
	padding: .5em 1em;
	text-indent: 0;
	@include font-rem(16);
	background-color: lighten($black, 95);
	border: 1px solid lighten($black, 90);
	@include rounded(4px);
}

// Blockquotes
// --------------------------------------------------
blockquote {
	font-family: $alt-font;
	font-style: italic;
	@include font-size(16);
	padding-left: 20px;
	border-left: 8px solid $black;
}

// Footnotes
// --------------------------------------------------
.footnotes {
	@include font(14);
	font-family: $base-font;
}

// Code
// --------------------------------------------------
tt, code, kbd, samp, pre {
	font-family: $code-font;
}
p,
li { 
	code {
		@include font(12);
		white-space: nowrap;
		margin: 0 2px;
		padding: 0 5px;
		border: 1px solid lighten($black, 90);
		background-color: lighten($black, 95);
		@include rounded(3px);
	}
}
pre {
	@include font(12);
	overflow-x: auto;
}
